@charset "utf-8";


            @font-face {
        font-family: 'MinSans-Bold';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/MinSans-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }
            @font-face {
        font-family: 'LeferiBaseType-RegularA';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        }


        #slider { width: 100%; height: 1000px; background-image: url("../img/sub/job_interview.jpg"); position: relative; font-family: 'MinSans-Bold'; }
        #slider h1 { width: 26%; font-size: 45px; color: #fff; position: absolute; top: 56%; left: 1%; z-index: 5; text-align: center; }

        section { width: 80%; height: 950px; margin: 0 auto; background: none; }
        section > p:nth-of-type(1) { font-family: 'Eoe_Zno_M'; color: red; font-size: 22px; text-align: center; padding-top: 3%; padding-bottom: 0.5%; }
        section > p:nth-of-type(2) { font-family: 'LeferiBaseType-RegularA'; text-align: center; color: #333; font-size: 20px; padding-bottom: 4%; }
        section h1 { color: #333; font-family: 'Eoe_Zno_M'; font-size: 30px; text-align: center; padding-bottom: 1.5%; }

        section #career_people_container {  width: 100%; height: 550px; position: relative; }
        section #career_people_container img { width: 100%; }
        .career_people_box1, .career_people_box2, .career_people_box3 { float: left; width: 30%; height: 550px; margin: 0 1.6%; position: relative; font-family: 'Eoe_Zno_M'; cursor: pointer; 
                                                                        transform: translateX(-500px); opacity: 0; transition: all 1s ease; }

        .career_people_box1 .image_title1 { position: absolute; top: 3%; left: 7%; color: #111; font-size: 35px; }
        .career_people_box2 .image_title2 { position: absolute; top: 3%; left: 4%; color: #fff; font-size: 35px; }
        .career_people_box3 .image_title3 { position: absolute; top: 3%; left: 2%; color: #fff; font-size: 35px; } 
        .hidden_image1, .hidden_image2, .hidden_image3 { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 550px; cursor: pointer; }
        .hidden_text1 { position: absolute; top: 3%; left: 50%; color: #111; width: 50%; display: none; font-size: 21px; font-family: 'LeferiBaseType-RegularA'; }
        .hidden_text2 { position: absolute; top: 3%; left: 50%; width: 50%; display: none; font-size: 21px; font-family: 'LeferiBaseType-RegularA'; color: #fff; }
        .hidden_text3 { position: absolute; top: 3%; left: 50%; width: 50%; display: none; font-size: 21px; font-family: 'LeferiBaseType-RegularA'; color: #fff; }

        #section2 { width: 80%; height: 550px; margin: 0 auto; }
        #section2 h1 { padding-bottom: 3%; }
        #section2 #welfare_container { width: 100%; height: 200px; display: flex; justify-content: space-between; flex-wrap: wrap; }

        .welfare_box { width: 30%; height: 100%; border-bottom: 1px solid lightgray; font-family: 'LeferiBaseType-RegularA'; opacity: 0; transition: all 1s ease; transform: translateY(100px); }
        .welfare_box h3 { padding-top: 2%; padding-bottom: 5%; }

        #section3 { width: 80%; height: 600px; margin: 0 auto; background: none; }
        #section3 h1 { padding-bottom: 3%; }
        #section3 .circle > h3 { line-height: 100px; }
        #section3 #circle_container { width: 100%; height: 250px; display: flex; justify-content: space-around; }
        #section3 .circle { width: 18%; height: 250px; text-align: center; border: 2px solid gainsboro; border-radius: 100%; opacity: 0; transition: all 1s ease; transform: translateY(100px); }
        .circle p { font-family: 'LeferiBaseType-RegularA'; }
        
        #section3 .joining_box { margin-top: 3%; width: 100%; height: 200px; background-color: rgb(215, 215, 215); display: flex; flex-wrap: nowrap; font-family: 'LeferiBaseType-RegularA'; font-size: 17px; }
        .joining_box h3 { margin-top: 5%; margin-left: 3.5%; font-family: 'Eoe_Zno_M'; font-size: 20px; }
        .joining_box h3 img { vertical-align: middle; }
        .joining_box ul { margin-top: 5%; margin-left: 10%; }
        .joining_box ul li { list-style: disc; }

        #section4 { width: 80%; height: 650px; margin: 0 auto; position: relative; overflow: hidden; }
        #section4 h1 { padding-top: 3%; padding-bottom: 3%; }
        #section4 .option_button { margin-bottom: 1%; width: 300px; height: 55px; background: none; border-radius: 50px; font-size: 22px; font-family: 'LeferiBaseType-RegularA'; }
        #section4 table { width: 100%; height: 120px; border-top: 1px solid #333; border-bottom: 1px solid lightgray; }
        table .table_text1 { font-family: 'Eoe_Zno_M'; font-weight: 600; }
        table .table_text2 { font-family: 'Eoe_Zno_M'; font-weight: bold; }

      #section4 .email_boxes { width: 100%; height: 150px; display: flex; position: relative; margin-top: 5%; text-align: center; }
      .email_boxes button { font-family: 'Eoe_Zno_M'; overflow: hidden; position: relative; display: inline-block; vertical-align: top; width: 33.3%; height: 100%; line-height: 50px; border: 1px solid #333; transition: all 0.5s; font-size: 25px; }
      .email_boxes button:hover{ color: #fff; }
      .email_boxes button:before{ content: ""; z-index: -1; position: absolute; background: rgb(255, 207, 0); transition: all 1s; }

      .email_boxes.hover_color .email_button:before{ left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 200%; height: 0; }
      .email_boxes.hover_color .email_button:hover:before{ height: 325%; }
      .email_boxes .email_button{ opacity: 0; transition: all 1s ease; transform: translateY(-100px); cursor: pointer; }